/* font-styles */
#normal{
    font-style: normal;
}
#italic{
    font-style: italic;
}
#oblique{
    font-style: oblique;
}
/* font-weight */
#normal{
    font-weight: normal;
}
#bold{
    font-weight: bold;
}
#lighter{
    font-weight: lighter;
}
#bolder{
    font-weight: bolder;
}
/* font-family */
.cursive{
    font-size: 35px;   
}
#bs{
    font-family: 'blackswordregular';
    font-weight: bold;
}
#bst{
    font-family: Brush Script MT, Brush Script Std, cursive;
}
#btb{
    font-family: 'back_to_black_demoregular';
}