/* text align */
#center{
    text-align: center;
}
#left{
    text-align: left;
}
#right{
    text-align: right;
}
/* vertical align */
em{
    background-color: chartreuse;
}
#baseline{
    vertical-align: baseline;
}
#sub{
    vertical-align: sub;
}
#super{
    vertical-align: super;
}
#top{
    vertical-align: top;
}
#bottom{
    vertical-align: bottom;
}
#text-bottom{
    vertical-align: text-bottom;
}
.align{
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    background-color: gray;  
    color: white; 
    shape-outside: circle();
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    float: left;
}
p{
    text-align: justify;
    font-size: 22px;
}
article{
    display: inline-block;
    padding-top: 40%;
}
/* txt decor */
#overline{
    text-decoration: dotted overline brown;
}
#line-through{
    text-decoration: line-through solid brown;
}
#underline{
    text-decoration: double underline brown;
}
/* text-transform */
#uppercase{
    text-transform: uppercase;
}
#lowercase{
    text-transform: lowercase;
}
#capitalize{
    text-transform: capitalize;
}
.indent{
    text-indent: 50px;
}
/* txt-shadow */
#text-shadow{
    color: blue;
    text-shadow: 2px 3px gray;
}
#text-shadow:hover{
    color: red;
    text-shadow: 5px 7px chartreuse;
}